USE [master]
GO

-- Create Database
CREATE DATABASE [san_sigma2]
GO

USE [san_sigma2]
GO

-- Create Tables
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) PRIMARY KEY,
	[name] [nvarchar](50) NOT NULL,
	[username] [nvarchar](50) NOT NULL, 
	[password] [nvarchar](50) NOT NULL,
	[role] [nvarchar](50) CHECK ([role] IN ('admin', 'dosen', 'mahasiswa'))
)

CREATE TABLE [dbo].[prodis](
	[id] [int] IDENTITY(1,1) PRIMARY KEY,
	[nama] [nvarchar](50) NOT NULL
)

CREATE TABLE [dbo].[admins](
	[id] [int] IDENTITY(1,1) PRIMARY KEY,
	[user_id] [int] UNIQUE REFERENCES [users]([id]),
	[name] [nvarchar](100) NOT NULL,
	[gender] [nvarchar](10) CHECK ([gender] IN ('L', 'P')),
	[phone_number] [nvarchar](20) NULL,
	[photo] [nvarchar](max) NULL
)

CREATE TABLE [dbo].[dosens](
	[nip] [nvarchar](20) PRIMARY KEY,
	[user_id] [int] UNIQUE REFERENCES [users]([id]),
	[name] [nvarchar](255) NOT NULL,
	[gender] [nvarchar](10) CHECK ([gender] IN ('L', 'P')),
	[phone_number] [nvarchar](20) NULL,
	[status] [nvarchar](20) NULL,
	[photo] [nvarchar](max) NULL,
	[Alamat] [nvarchar](255) NULL,
	[Kota] [nvarchar](50) NULL,
	[Provinsi] [nvarchar](50) NULL,
	[agama] [nvarchar](50) NULL,
	[score] [int] NULL,
)

CREATE TABLE [dbo].[mahasiswas](
	[nim] [nvarchar](20) PRIMARY KEY,
	[prodi_id] [int] REFERENCES [prodis]([id]),
	[user_id] [int] REFERENCES [users]([id]),
	[name] [nvarchar](100) NOT NULL,
	[gender] [nvarchar](1) CHECK ([gender] IN ('l', 'p')),
	[phone_number] [nvarchar](20) NULL,
	[status] [nvarchar](50) NULL,
	[college_year] [int] NOT NULL,
	[score] [int] NULL,
	[photo] [nvarchar](max) NULL,
	[Alamat] [nvarchar](max) NULL,
	[Kota] [nvarchar](50) NULL,
	[Provinsi] [nvarchar](50) NULL,
	[agama] [nvarchar](50) NULL
)

CREATE TABLE [dbo].[tingkatans](
	[id] [int] IDENTITY(1,1) PRIMARY KEY,
	[nama] [nvarchar](50) NOT NULL,
	[point] [int] NOT NULL
)

CREATE TABLE [dbo].[peringkats](
	[id] [int] IDENTITY(1,1) PRIMARY KEY,
	[nama] [nvarchar](50) NOT NULL,
	[multiple] [float] NOT NULL
)

CREATE TABLE [dbo].[penghargaans](
	[id] [int] IDENTITY(1,1) PRIMARY KEY,
	[mahasiswa_nim] [nvarchar](20) REFERENCES [mahasiswas]([nim]),
	[judul] [nvarchar](255) NOT NULL,
	[tempat] [nvarchar](50) NULL,
	[url] [nvarchar](max) NULL,
	[tanggal_mulai] [date] NULL,
	[tanggal_akhir] [date] NULL,
	[jumlah_instansi] [int] NULL,
	[jumlah_peserta] [int] NULL,
	[tanggal_surat] [date] NULL,
	[file_sertifikat] [nvarchar](max) NULL,
	[file_poster] [nvarchar](max) NULL,
	[file_photo_kegiatan] [nvarchar](max) NULL,
	[score] [int] NULL,
	[tingkat_id] [int] REFERENCES [tingkatans]([id]),
	[peringkat_id] [int] REFERENCES [peringkats]([id])
)

CREATE TABLE [dbo].[verifikasis](
	[id] [int] IDENTITY(1,1) PRIMARY KEY,
	[mahasiswa_nim] [nvarchar](20) REFERENCES [mahasiswas]([nim]),
	[dosen_nip] [nvarchar](20) REFERENCES [dosens]([nip]),
	[admin_id] [int] REFERENCES [admins]([id]),
	[penghargaan_id] [int] REFERENCES [penghargaans]([id]),
	[verif_admin] [nvarchar](50)  CHECK ([verif_admin] IN ('DiProses', 'DiTolak', 'Terverifikasi')),
	[pesan_admin] [nvarchar](max) NULL,
	[verif_pembimbing] [nvarchar](50)CHECK ([verif_pembimbing] IN ('DiProses', 'DiTolak', 'Terverifikasi')),
	[pesan_pembimbing] [nvarchar](max) NULL
)
GO

-- Keep all the INSERT statements as they were in the original script
-- [Previous INSERT statements remain unchanged]

INSERT [dbo].[users] ( [name], [username], [password], [role]) VALUES ( N'admin1', N'admin', N'admin', N'admin')
INSERT [dbo].[users] ( [name], [username], [password], [role]) VALUES ( N'Atmin1', N'admin', N'admin123', N'admin')
INSERT [dbo].[users] ( [name], [username], [password], [role]) VALUES ( N'admin2', N'admin2', N'admin123', N'admin')



GO
INSERT [dbo].[admins] ( [user_id], [name], [gender], [phone_number], [photo]) VALUES ( 2, N'Budi Santoso', N'L', N'081234567891', N'budi.jpg')
INSERT [dbo].[admins] ( [user_id], [name], [gender], [phone_number], [photo]) VALUES ( 3, N'Citra Dewi', N'P', N'081234567892', N'citra.jpg')
INSERT [dbo].[admins] ( [user_id], [name], [gender], [phone_number], [photo]) VALUES ( 4, N'Dedi Saputra', N'L', N'081234567893', N'dedi.jpg')
GO
INSERT [dbo].[dosens] ( [user_id], [name], [gender], [phone_number], [nip], [status], [photo], [Alamat], [Kota], [Provinsi], [agama]) VALUES ( 21, N'Andi Wijaya', N'L', N'081234567890', N'12345678', N'aktif', N'andi.jpg', N'Jl. Merdeka No. 1', N'Malang', N'Jawa Timur', N'Islam')
INSERT [dbo].[dosens] ( [user_id], [name], [gender], [phone_number], [nip], [status], [photo], [Alamat], [Kota], [Provinsi], [agama]) VALUES ( 22, N'Budi Santoso', N'L', N'081234567891', N'87654321', N'aktif', N'budi.jpg', N'Jl. Pahlawan No. 2', N'Surabaya', N'Jawa Timur', N'Kristen')
INSERT [dbo].[dosens] ( [user_id], [name], [gender], [phone_number], [nip], [status], [photo], [Alamat], [Kota], [Provinsi], [agama]) VALUES ( 23, N'Citra Dewi', N'P', N'081234567892', N'11223344', N'ga aktif', N'citra.jpg', N'Jl. Bunga No. 3', N'Bandung', N'Jawa Barat', N'Hindu')
GO
UPDATE [dbo].[dosens] SET [score] = 2500 WHERE [nip] = 12345678
UPDATE [dbo].[dosens] SET [score] = 3000 WHERE [nip] = 87654321
UPDATE [dbo].[dosens] SET [score] = 2000 WHERE [nip] = 11223344
UPDATE [dbo].[dosens] SET [score] = 2800 WHERE [nip] = 44332211
UPDATE [dbo].[dosens] SET [score] = 2600 WHERE [nip] = 55667788
UPDATE [dbo].[dosens] SET [score] = 2300 WHERE [nip] = 88776655
UPDATE [dbo].[dosens] SET [score] = 3200 WHERE [nip] = 99887766
UPDATE [dbo].[dosens] SET [score] = 2900 WHERE [nip] = 66778899
UPDATE [dbo].[dosens] SET [score] = 2100 WHERE [nip] = 22334455
UPDATE [dbo].[dosens] SET [score] = 2700 WHERE [nip] = 55443322
UPDATE [dbo].[dosens] SET [score] = 2400 WHERE [nip] = 77889900
UPDATE [dbo].[dosens] SET [score] = 2200 WHERE [nip] = 00998877
UPDATE [dbo].[dosens] SET [score] = 3100 WHERE [nip] = 66554433
UPDATE [dbo].[dosens] SET [score] = 2500 WHERE [nip] = 33221100
UPDATE [dbo].[dosens] SET [score] = 2800 WHERE [nip] = 99001122
GO



INSERT [dbo].[peringkats] ( [nama], [multiple]) VALUES ( N'Juara 1/sederajat', 2)
INSERT [dbo].[peringkats] ( [nama], [multiple]) VALUES ( N'Juara 2/sederajat', 1.8)
INSERT [dbo].[peringkats] ( [nama], [multiple]) VALUES ( N'Juara 3/sederajat', 1.6)
GO


INSERT [dbo].[prodis] ( [nama]) VALUES ( N'D-IV Teknik Informatika')
INSERT [dbo].[prodis] ( [nama]) VALUES ( N'D-IV Sistem Informasi Bisnis')
INSERT [dbo].[prodis] ( [nama]) VALUES ( N'D-II PPRS')

GO
INSERT [dbo].[tingkatans] ( [nama], [point]) VALUES ( N'Internasional', 1000)
INSERT [dbo].[tingkatans] ( [nama], [point]) VALUES ( N'Nasional', 500)
INSERT [dbo].[tingkatans] ( [nama], [point]) VALUES ( N'Provinsi', 250)
GO
INSERT [dbo].[mahasiswas] ( [prodi_id], [user_id], [name], [gender], [phone_number], [nim], [status], [college_year], [score], [photo], [Alamat], [Kota], [Provinsi], [agama]) VALUES ( 1, 6, N'Andi Pratama', N'L', N'081234567910', N'2341720201', N'aktif', 2022, 2500, N'andi.jpg', N'Jl. Raya No. 1', N'Malang', N'Jawa Timur', N'Islam')
INSERT [dbo].[mahasiswas] ( [prodi_id], [user_id], [name], [gender], [phone_number], [nim], [status], [college_year], [score], [photo], [Alamat], [Kota], [Provinsi], [agama]) VALUES ( 2, 7, N'Budi Santoso', N'L', N'081234567911', N'2341720202', N'aktif', 2021, 2300, N'budi.jpg', N'Jl. Merdeka No. 2', N'Surabaya', N'Jawa Timur', N'Kristen')
INSERT [dbo].[mahasiswas] ( [prodi_id], [user_id], [name], [gender], [phone_number], [nim], [status], [college_year], [score], [photo], [Alamat], [Kota], [Provinsi], [agama]) VALUES ( 1, 8, N'Citra Dewi', N'P', N'081234567912', N'2341720203', N'aktif', 2020, 2200, N'citra.jpg', N'Jl. Pahlawan No. 3', N'Bandung', N'Jawa Barat', N'Hindu')

GO
INSERT [dbo].[penghargaans] ( [mahasiswa_nim], [judul], [tempat], [url], [tanggal_mulai], [tanggal_akhir], [jumlah_instansi], [jumlah_peserta], [tanggal_surat], [file_sertifikat], [file_poster], [file_photo_kegiatan], [score], [tingkat_id], [peringkat_id]) VALUES ( 2341720203, N'Juara Basket', N'Surabaya', N'http://example.com/basket', CAST(N'2023-05-01' AS Date), CAST(N'2023-05-03' AS Date), 3, 20, CAST(N'2023-04-28' AS Date), N'sertifikat_basket.pdf', N'poster_basket.jpg', N'photo_basket.jpg', 6400, 2, 1)
INSERT [dbo].[penghargaans] ( [mahasiswa_nim], [judul], [tempat], [url], [tanggal_mulai], [tanggal_akhir], [jumlah_instansi], [jumlah_peserta], [tanggal_surat], [file_sertifikat], [file_poster], [file_photo_kegiatan], [score], [tingkat_id], [peringkat_id]) VALUES ( 2341720203, N'Juara Futsal', N'Malang', N'http://example.com/futsal', CAST(N'2023-06-01' AS Date), CAST(N'2023-06-03' AS Date), 4, 30, CAST(N'2023-05-29' AS Date), N'sertifikat_futsal.pdf', N'poster_futsal.jpg', N'photo_futsal.jpg', 5180, 3, 2)
INSERT [dbo].[penghargaans] ( [mahasiswa_nim], [judul], [tempat], [url], [tanggal_mulai], [tanggal_akhir], [jumlah_instansi], [jumlah_peserta], [tanggal_surat], [file_sertifikat], [file_poster], [file_photo_kegiatan], [score], [tingkat_id], [peringkat_id]) VALUES ( 2341720202, N'UI/UX Design Competition', N'Jakarta', N'http://example.com/uiux', CAST(N'2023-07-10' AS Date), CAST(N'2023-07-12' AS Date), 2, 50, CAST(N'2023-07-05' AS Date), N'sertifikat_uiux.pdf', N'poster_uiux.jpg', N'photo_uiux.jpg', 4730, 1, 3)
GO

